@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*** BASIC STUFF ***/
html {
	font-family: Roboto, sans-serif;
}

body {
	background-color: rgb(238, 252, 255);
	overflow-x: hidden;
}

body, p, h1, h2, h3, h4, h5, h6, img {
	margin: 0;
}

button, form, form > input {
	font-family: Roboto, sans-serif;
	height: 30px;
	border-style: none;
	transition-duration: .2s;
}

button:hover, form:hover {
	transform: scale(115%);
}

.serif {
	font-family: "Roboto Serif", serif;
}

/*** SITE HEADER STUFF ***/
.site-header {
	background-color: rgb(238, 252, 255);
	color: black;
	width: 100%;
	padding: 20px 40px;
	position: sticky;
	top: 0;
	border-bottom: 3px solid black;
	max-width: 1280px;
	margin: 0 auto;
}

.header-container {
	align-items: center;
	display: grid;
	grid-template-columns: [logo] 150px [buttons] auto;
}

.logo {
	font-family: "Roboto Serif", serif;
}

.guide-tab {
	background-color: lightcoral;
}

.favorite-tab {
	background-color: lightyellow;
}

.search-tab {
	background-color: lightblue;
}

.search-button {
	background-color: lightblue;
}

.account-button {
	background-color: lightpink;
}

.site-header a {
	color: black;
	text-decoration: none;
}

.header-container button, .search-button {
	width: 100px;
}

.header-container .search-tab {
	width: 200px;
}

.header-container button:hover, .search-button:hover {
	font-weight: 700;
}

.header-container nav {
	box-sizing: border-box;
	align-items: right;
	display: table-cell;
	vertical-align: middle;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.header-container nav ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	box-sizing: border-box;
}

.header-container nav ul li {
	display: inline-block;
	position: relative;
	font-size: 11px;
	margin: 0 30px 0 0;
}

/*** SHOW HEADER STUFF ***/
.show-header {
	display: grid;
	grid-template-columns: [img] 200px [info] auto [buttons] 100px;
	gap: 20px;
	padding: 10px 40px 20px;
	align-items: top;
	
	max-width: 1280px;
	margin: 0 auto;
}

.horizontal-poster {
	max-width: 200px;
}

.fav-button, .stream-button {
	width: 100px;
	margin: 10px 0px;
}

.fav-button {
	background-color: lightyellow;
}

.stream-button {
	background-color: lightskyblue;
}

/*** SHOWTIMES STUFF ***/
.next-showing-header {
	font-family: "Roboto Serif", serif;
	border-top: 3px solid lightcoral;
	border-bottom: 3px solid lightcoral;
	background-color: rgb(255, 212, 212);
	padding: 10px 40px;
	font-size: 24px;
	font-weight: 700;
	height: 20px;
	max-width: 1280px;
	margin: 0 auto;
}

.showing {
	background-color: white;
	padding: 0px 40px;
	display: grid;
	grid-template-columns: [date] 60px [info] auto [buttons] 30px;
	gap: 20px;
	align-items: center;
	max-width: 1280px;
	margin: 0 auto;
}

.episode {
	margin-top: 10px;
	margin-bottom: 10px;
}

.new {
	background-color: rgb(255, 236, 236);
}

.episode p, .episode h3, .episode h6 {
	padding: 2px 40px 2px 20px;
}

.airing-info {
	width: 60px;
	padding-right: 20px;
	border-right: 3px solid black;
	font-size: 14px;
}

.airing-info > span {
	display: block;
}

.airdate {
	font-weight: 700;
	font-size: 18px;
}

.ep-divider {
	border-top: 3px solid black !important;
	border: 0px;
	max-width: 1360px;
	margin: 0 auto;
}

.fav-icon {
	background-color: lightyellow;
	width: 30px;
}

.remind-icon {
	width: 30px;
	background-color: lightskyblue;
}

.remind-icon:hover > .bell {
  animation: ring 4s .7s ease-in-out infinite;
}

@keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(34deg); }
  7% { transform: rotate(-32deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-28deg); }
  13% { transform: rotate(26deg); }
  15% { transform: rotate(-24deg); }
  17% { transform: rotate(22deg); }
  19% { transform: rotate(-20deg); }
  21% { transform: rotate(18deg); }
  23% { transform: rotate(-16deg); }
  25% { transform: rotate(14deg); }
  27% { transform: rotate(-12deg); }
  29% { transform: rotate(10deg); }
  31% { transform: rotate(-8deg); }
  33% { transform: rotate(6deg); }
  35% { transform: rotate(-4deg); }
  37% { transform: rotate(2deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }

  43% { transform: rotate(0); }
  100% { transform: rotate(0); }
}

/*** FAVORITES PAGE STUFF ***/
.favorites-page {
	display: grid;
	grid-template-columns: [date] auto [info] 220px;
	gap: 20px;
	padding: 10px 40px;
	max-width: 1280px;
	margin: 0 auto;
}

.filter-section {
	border-left: 3px solid black;
	padding-left: 20px;
}

.favorite-info {
	display: grid;
	grid-template-columns: [img] 200px [info] auto [buttons] 100px;
	gap: 20px;
	padding: 0px 0px 0px;
	align-items: top;
}

.remind-button {
	width: 100px;
	background-color: lightskyblue;
}

.favorite-divider {
	border-top: 3px solid black !important;
	border: 0px;
	margin: 10px 0px;
}

/*** GUIDE STUFF ***/
.guide-header {
	background-color: lightcyan;
	display: grid;
	grid-template-columns: [provider] auto [buttons] 205px;
	padding: 10px 40px 10px;
	border-bottom: 3px solid black;
	align-items: center;
	max-width: 1280px;
	margin: 0 auto;
}

.view-option-button {
	width: 100px;
	margin: 0;
	padding: 0;
}

.list-view-guide {
	padding: 10px 40px;
	background-color: white;
	max-width: 1280px;
	margin: 0 auto;
}

.list-view-channel {
	display: grid;
	grid-template-columns: [channel] 100px [listings] auto;
}

.channel-info {
	display: grid;
	grid-template-rows: 50px auto;
}

.channel-number {
	font-family: "Roboto Serif", serif;
	font-size: 50px;
	font-weight: 700;
}

.channel-name {
	font-weight: 700;
}

.list-view-showing {
	display: grid;
	grid-template-columns: [timeslot] 100px [show] auto [iconbuttons] 64px;
	grid-template-areas: "timeslot show iconbuttons"
	"timeslot epinfo iconbuttons";
	align-items: center;
	margin-bottom: 10px;
	height: 40px;
}

.list-timeslot {
	font-size: 12px;
	font-style: italic;
	grid-area: timeslot;
}

.program-name {
	font-weight: 700;
	grid-area: show;
	text-overflow: ellipsis;
	overflow: hidden;
}

.now > .program-name {
	font-size: 22px;
}

.now > .list-timeslot {
	font-weight: 700;
}

.list-info {
	grid-area: epinfo;
	font-size: 12px;
}

.new-text {
	margin-left: 5px;
	color: red;
	font-weight: 700;
}

.movie-text {
	color: fuchsia;
	font-weight: 700;
}

.see-full-schedule > button {
	margin-top: 5px;
	width: 150px;
	text-transform: uppercase;
}

.see-full-schedule > button > a {
	text-decoration: none;
	color: black;
}

.list-buttons {
	display: none;
	grid-area: iconbuttons;
}

.list-view-showing:hover > .list-buttons {
	display: block;
}

/*** FOOTER STUFF ***/
footer {
	width: inherit;
	border-top: 3px solid black;
	padding: 10px 40px;
	max-width: 1280px;
	margin: 0 auto;
}

/*** LOGIN STUFF ***/
